 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I work as a Senior Frontend Engineer at Zenify in Bangalore. I am experienced in the latest technologies like HTML5, CSS3, LESS/Sass/SCSS and advanced frameworks like Foundation and Bootstrap. I believe in writing quality code and always look forward for improvement.</p>
                </div>
                <div class="col-lg-4">
                    <p>I fulfill a broad set of roles and responsibilities at Zenify. A typical day at work starts with ideation, converting them to sketches which goes through certain rounds of iterations, leading to implemention of the finalized screens.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>
