 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Front-End Developer working at a fast paced startup based in Gurgaon. I am experienced in the latest technologies like HTML5, CSS3, LESS/Sass/SCSS and Bootstrap framework. For last few years, I have been creating interactive and design rich user interfaces for our offshore clients.</p>
                </div>
                <div class="col-lg-4">
                    <p>My role as a Front-End Developer involves collecting requirements from clients and designers, implementing the webpage in a reusable and scalable manner, ensuring cross browser support and at the end of the day making sure that the interface is appealing and user friendly.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>