<section id="cd-timeline" class="cd-container">
	<h2 class="text-center">Timeline</h2>
	<hr class="star-primary">
	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">  </div>
	
	<div class="cd-timeline-content">
		<h2>Frontend Engineer at Cleartax</h2>
		<p> Building a platform (Cleartax Investments) for mutual fund investments. Setting up analytics and automation for marketing and retargeting users.</p>
		<span class="cd-date">Oct 2016</span> </div>
	<!-- cd-timeline-content -->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture">  </div>
		
	<div class="cd-timeline-content">
		<h2>Senior Frontend Engineer at Zenify</h2>
		<p>End-to-end responsibility for developing zenify.in and providing support for various browsers and devices </p>
		<span class="cd-date">May 2015</span> </div>
	<!-- cd-timeline-content -->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture">  </div>
	 
	<div class="cd-timeline-content">
		<h2>Senior UI Developer at Josh Technology Group</h2>
		<p>Working as a Front-End Developer and handling core project responsibilities like planning, estimation and delivery</p>
		<span class="cd-date">May 2014</span> </div>
	<!-- cd-timeline-content -->
	</div>
	<!-- cd-timeline-block -->

	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">  </div>
	<!-- cd-timeline-img -->
	 
	<div class="cd-timeline-content">
		<h2>UI Developer at Josh Technology Group</h2>
		<p>Gathering requirements and handling technical responsibility of developing a feature and testing it across various devices and platforms</p>
		<span class="cd-date">July 2013</span> </div>
	<!-- cd-timeline-content -->
	</div>
	<!-- cd-timeline-block -->

	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture">  </div>
	<!-- cd-timeline-img -->
	 
	<div class="cd-timeline-content">
		<h2>Graduated from VIT Vellore</h2>
		<p>Completed B.Tech in Computer Science</p>
		<span class="cd-date">May 2013</span> </div>
	<!-- cd-timeline-content -->
	</div>
	<!-- cd-timeline-block -->

	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">  </div>
	<!-- cd-timeline-img -->
	 
	<div class="cd-timeline-content">
		<h2>Intern at Josh Technology Group</h2>
		<p>Learning project processes and focussing on feature development</p>
		<span class="cd-date">Dec 2012</span> </div>
	<!-- cd-timeline-content -->
	</div>
	<!-- cd-timeline-block -->

	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture"> </div>
	<!-- cd-timeline-img -->
	 
	<div class="cd-timeline-content">
		<h2>SAP Trainee at ONGC, New Delhi</h2>
		<p>Worked on Entry Modules, Report Generation and Module Pool Programming</p>
		<span class="cd-date">May 2012</span> </div>
	<!-- cd-timeline-content -->
	</div>
	<!-- cd-timeline-block -->

	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">  </div>
	<!-- cd-timeline-img -->
	 
	<div class="cd-timeline-content">
		<h2>Intern at Sanfoundry</h2>
		<p>Documented process management techniques in operating system (UNIX)</p>
		<span class="cd-date">May 2011</span> </div>
	<!-- cd-timeline-content -->
	</div>
	<!-- cd-timeline-block -->
	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture"> </div>
	<!-- cd-timeline-img -->
	 
	<div class="cd-timeline-content">
		<h2>Started B.Tech at VIT Vellore</h2>
		<p></p>
		<span class="cd-date">June 2009</span> </div>
	<!-- cd-timeline-content -->
	</div>
</section>
